*.egg-info
*.pyc
*.swp
.coverage
.coverage.*
.DS_Store
.eggs
.pytest_cache
.tox/
__pycache__/
build/
coverage.xml
dist/
docs/
htmlcov/
venv/
.venv/
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/

output/
venv/
__pycache__/
src/sg_archive/version.py
