<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ entity["type"] }} {{ name }} Details</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>{{ entity["type"] }}: {{ name }}</h1>
    {%- if "image" in entity and entity["image"] %}
    <img class="thumbnail" src="/data/{{ entity['type'] }}/{{ entity['image'] }}">
    {%- endif %}
    {%- if "content" in entity %}
    <div class=markdown>
        {{ fmt_sg_value(entity, "content")|safe }}
    </div>
    {%- endif %}
    {%- if entity["attachments"] %}
    <h2>Attachments</h2>
    {%- for attach in entity["attachments"] %}
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/data/Attachment/{{ attach['this_file']['local_path'] }}">
          <img src="/data/Attachment/{{ attach['image']['local_path'] }}" alt="{{ attach['this_file']['name'] }}">
        </a>
        <div class="desc">{{ attach["this_file"]["name"] }}</div>
      </div>
    </div>
    {%- endfor %}
    <div class="clearfix"></div>
    {%- endif %}
    <h2>Details</h2>
    <div class="field">
    {%- for field in fields %}
        <div class="field_name">
            {{ field_name(entity["type"], field) }} - <span class="field_name">{{ field }}</span>
        </div>
        <div class="field_value">
            {{ fmt_sg_value(entity, field)|safe }}
        </div>
    {%- endfor %}
    </div>
    <hr>
    <a target="_blank" href="/raw_entity/{{ entity['type'] }}/{{ entity['id'] }}">
        raw data
    </a>,
    <a target="_blank" href="/schema_entity/{{ entity['type'] }}">schema</a>
</body>
</html>
