<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ entity_type }}'s</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>{{ entities|length }} {{ entity_type }}'s</h1>
    <table class="list_view">
        <tr class="header">
            <th>Details</th>
            {%- for field in fields %}
            <th>
                <div class="tooltip">{{ helper.field_name(entity_type, field) }}
                    <span class="tooltiptext">{{ field }}</span>
                </div>
            </th>
            {% endfor %}
        </tr>
        {%- for entity in entities %}
        <tr>
            <td>{{ helper.entity_href(entity)|safe }}</td>
            {%- for field in fields %}
                <td>{{ helper.fmt_sg_value(entity, field)|safe }}</td>
            {%- endfor %}
        </tr>
        {%- endfor %}
    </table>

{% include 'footer.html' %}
</body>
</html>
